a{color: rgb(138, 147, 227) ;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}


button{background-color: #452249;
    color: rgb(253, 0, 122);
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    border-style: solid;
    border-color: #8e85db;
}
p{ font-family: 'Barlow', sans-serif;
   color: rgb(15, 24, 101) ;
   text-align: center;
   font-size: large;
}
h1{font-family: 'Calistoga', serif;
}
h2{
    font-family: 'Calistoga', serif;
    color: #8e85db;
}
h6{ font-family: 'Barlow', sans-serif;
    color: rgb(138, 147, 227) ;
    text-align: center;
}
h3{font-family: 'Barlow', sans-serif;
    color: rgb(180, 4, 92) ;
    font-size: 50px;
    text-align: center;
}
h4{font-family: 'Barlow', sans-serif;
    color: rgb(138, 147, 227) ;
    text-align: center;
    font-size: 10px;
}
body {
    background-color: rgb(17, 1, 29)
}

.jumbotron {
    background-color: #f785b5;
    color:dark ;
    text-align: center;
    padding: 2rem;
    margin-bottom: 0;
}

.container {
    margin-top: 2rem;
}

.card {font-family: 'Barlow', sans-serif;
    color: rgb(138, 147, 227) ;
    text-align: center;
    font-size: 10px;
    background-color: #330a4e;
    margin-bottom: 2rem;
   
}

.card img {
    max-height: 200px;

    object-fit: cover;
}